.text-field, .button, .choice-box, .check-box .box, .combo-box, .titled-pane .title, .titled-pane .content {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-color: white;
}

.titled-pane {
	-fx-text-fill: white;
	-fx-collapsible: false;
}

.list-cell, .list-view {
	-fx-background-color: #303030;
}

.text-field {
	-fx-pref-width: 50px;
	-fx-alignment: center;
}

.left-field {
	-fx-alignment: center-left;
}

.button {
	-fx-border-radius: 1000;
}

.label {
	-fx-text-fill: white;
}

.menu-bar, .menu-item:hover, .button:hover {
	-fx-background-color: #202020;
}

.menu-item:hover, .button:hover {
	-fx-background-radius: 1000;
}

#leftPanel, #rightPanel, #hBox, .context-menu, .viewport, .scroll-bar:vertical {
	-fx-background-color: #303030;
}

.scroll-pane {
	-fx-hbar-policy: never;
}

#hBox {
	-fx-padding: 10px;
}

.split-pane-divider {
	-fx-pref-width: 1px;
}


.check-box:selected .box .mark {
	-fx-background-color: white;
}

#scaleBox {
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-max-height: 0px;
}